html{
  height: 100%;
}
#root{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
